
body {
	background-color: #fafafa;
	font-family: LoveFromSerifL-400;
}

header {
	text-align: center;
	padding-top: 50px;
}

section {
	padding: 20px;
}

footer {
	text-align: center;
	font-size: 12px;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #E5E5E5;
}

.line .inner.start {
    perspective: 12px;
    opacity: 0
}

.line {
    font-size: 66px;
    text-align: center;
    perspective: 12px;
}

.line.punctuated {
    position: relative;
    left: .12em
}
